.planScreen {
  margin-top: 10px;
  font-size: large;
}

.planScreen__plan {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  opacity: 0.8;
}

.planScreen__plan:hover {
  opacity: 1;
}

.planScreen__info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  flex-grow: 1;
}

.planScreen__plan button {
  cursor: pointer;
  background-color: #e50914;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  font-size: 1rem;
  padding: 8px 16px;
}
